<a href="https://colab.research.google.com/github/codigoquant/probabilidade_para_investimentos/blob/master/01_Probabilidade_e_Estat%C3%ADstica_para_Investimentos_com_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Probabilidade e Estatística para Investimentos com Python - Simulando um jogo de dados

In [ ]:
import pandas as pd

##  Jogando dois dados e somando os valores das faces

![alt text](https://media2.giphy.com/media/3ohhwLh5dw0i7iLzOg/giphy.gif?cid=ecf05e47vz5bhal67azfltz9b5dfwcaih4wxyjn4r6frh9u4&rid=giphy.gif)

## Criando os Dados

In [ ]:
dado = pd.DataFrame([1,2,3,4,5,6], columns=['face'])
dado

   face
0     1
1     2
2     3
3     4
4     5
5     6

## Jogando os Dados

In [ ]:
dado.sample(2, replace=True).sum()['face']

6

### Jogando várias vezes

In [ ]:
jogadas = 10
resultados = [ dado.sample(2, replace=True).sum()['face']   for i in range(jogadas) ]

In [ ]:
print(resultados)

[7, 4, 5, 7, 7, 10, 5, 11, 5, 7]

## Conceitos de Estatística e Probabilidade

### Experimento Aleatório

Características:

1. Pode ser repetido indefinidamente sob condições essencialmente inalteradas
2. Não podemos afirmar qual resultado particular irá ocorrer mas podemos descrever o conjunto de todos os possíveis resultados
3. O resultado individual parece ocorrer de forma acidental. Contudo, se for repetido um grande número de vezes uma regularidade começa a ocorrer

### Espaço Amostral

É o conjunto de todos os resultados possíveis de nosso experimento aleatório

Em nosso jogo de dados o espaço amostral $S$ será:

$S:$ {todos os resultados possíveis ao se somar as faces de dois dados numerados de 1 a 6 }

$S: \{ 2,3,4,5,6,7,8,9,10,11,12 \}$